<!-- Back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="patient-login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Patient Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input placeholder="Email" name="username" id="loginField"
                          type="text" required [(ngModel)]="username" #email></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Date of Brith</ion-label>
                <ion-datetime display-format="MMM DD, YYYY"></ion-datetime>
            </ion-item>
            
            <ion-item>
              <ion-input placeholder="Password" name="password" id="passwordField"
                          type="password" required [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <button ion-button class="submit-btn" full type="submit"
                  [disabled]="!loginForm.form.valid">Login
          </button>
        </ion-col>
      </ion-row>
  </form>

  <ion-button shape="round" fill="outline" size="large" href="/user-agreement">Continue(Temp for Nav)</ion-button>


</ion-content>
