<!-- Back button -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="user-type"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-header>
    <ion-toolbar>
      <ion-title>Control Panel</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    
    <div align="center">
      <br><br><br><br><br><br><br><br><br>
      <ion-button shape="round" fill="outline" size="large" href="/camera-control">Camera</ion-button>
      <br><br><br>
      <ion-button shape="round" fill="outline" size="large" href="/gallery">Gallery</ion-button>
      <br><br><br>
      <ion-button shape="round" fill="outline" size="large" href="/upload">Upload</ion-button>
    </div>
    
  </ion-content>
  