<!-- Back button -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="patient-login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>User Agreement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button shape="round" fill="outline" size="medium" href="/disclaimer-policy">Disclaimer Policy</ion-button>
    <ion-button shape="round" fill="outline" size="medium" href="/privacy-policy">Privacy Policy</ion-button>
    <ion-button shape="round" fill="outline" size="medium" href="/terms-and-conditions">Terms and Conditions</ion-button>

    <ion-button shape="round" fill="outline" size="large" href="/user-survey">I Agree</ion-button>

</ion-content>
