<!-- Back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Clinic Info - Patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>

      <ion-item>
          <ion-label>Clinic</ion-label>
          <ion-select [interfaceOptions]="customActionSheetOptionsClinic" interface="action-sheet" placeholder="Select One">
            <ion-select-option value="UAMS">UAMS</ion-select-option>
            <ion-select-option value="NWA">NWA</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Therapist</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptionsTherapist" interface="action-sheet" placeholder="Select One">
              <ion-select-option value="Thep1">Therapist 1</ion-select-option>
              <ion-select-option value="Thep2">Therapist 2</ion-select-option>
            </ion-select>
          </ion-item>
      
    </ion-list>

      <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <ion-row>
          <ion-col>
            <ion-list inset>
                <ion-item>
                    <ion-input placeholder="Access Code" name="accesscode" id="loginField"
                                type="text" required [(ngModel)]="accesscode" #email></ion-input>
                  </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <button ion-button class="submit-btn" full type="submit"
                    [disabled]="!loginForm.form.valid">Login
            </button>
          </ion-col>
        </ion-row>
      </form>


      <ion-button shape="round" fill="outline" size="large" href="/patient-info">Continue(Temp for Nav)</ion-button>


</ion-content>
