<!-- Back button -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="user-agreement"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-header>
    <ion-toolbar>
      <ion-title>Disclaimer Policy</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding>
  
    <h3><strong>Disclaimer/Liability </strong></h3>
    <p><span style="font-weight: 500;">We accept no responsibility for any technical failure of the internet and/or the app: or any damage or injury to users or their equipment as a result of or relating to their use of the app. When using this app, it is the user’s responsibility to get assistance if help is needed. We are not liable for any harm that comes to the user while using this app. This app was designed to help reduce the risk to potential falls in the home. However, if a fall is to occur after this app has been used and the therapist has reviewed the photos and send their corrections to the patient, we do not accept responsibility for the fall or harm of any kind. </span></p>
    <h3><strong>Accuracy</strong></h3>
    <p><span style="font-weight: 500;">Home Guardian has worked hard to ensure the accuracy of the device through its services through this mobile application. Although we aim to reduce the risk of potential falls in your home, our services do not guarantee that the risk of falling in your home will be completely eliminated. Home guardian seeks to decrease your risk of falling based on the information you provide. This app was created to make your home safer without the need of a therapist coming to you home. However, whether the results are for the better depends on the quality of photos you provide as well as if you take the advice given to you. </span></p>

  </ion-content>
  