<!-- Back button -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Clinic Info - Therapist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Clinic Info - Therapist :)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>

        <ion-item>
          <ion-label>Clinic</ion-label>
          <ion-select [interfaceOptions]="customActionSheetOptionsClinic" interface="action-sheet" placeholder="Select One">
            <ion-select-option value="UAMS">UAMS</ion-select-option>
            <ion-select-option value="NWA">NWA</ion-select-option>
          </ion-select>
        </ion-item>

    </ion-list>

    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input placeholder="Email" name="username" id="loginField"
                          type="text" required [(ngModel)]="username" #email></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Password" name="password" id="passwordField"
                          type="password" required [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <button ion-button class="submit-btn" full type="submit"
                  [disabled]="!loginForm.form.valid">Login
          </button>
        </ion-col>
      </ion-row>
    </form>

<!-- https://scotch.io/tutorials/build-an-ionic-app-with-user-authentication -->
<!-- testing github access -->

</ion-content>