<!-- Back button -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Clinic Info - Therapist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!--
    <ion-list>

        <ion-item>
          <ion-label>Clinic</ion-label>
          <ion-select [interfaceOptions]="customActionSheetOptionsClinic" interface="action-sheet" placeholder="Select One">
            <ion-select-option value="UAMS">UAMS</ion-select-option>
            <ion-select-option value="NWA">NWA</ion-select-option>
          </ion-select>
        </ion-item>

  -->
    <firebase-ui></firebase-ui>

    <h1 *ngIf="afAuth.auth.currentUser">
      Welcome {{afAuth.auth.currentUser.displayName}}!
    </h1>

    <ion-button *ngIf="afAuth.auth.currentUser" shape="round" fill="outline" size="large" href="/patient-files">Continue</ion-button>
  
    <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button>

<!-- https://scotch.io/tutorials/build-an-ionic-app-with-user-authentication -->
<!-- testing github access -->

</ion-content>