<!-- Back button -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="user-agreement"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-header>
    <ion-toolbar>
      <ion-title>Terms and Conditions</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding>
  
    <h3><strong>Disclaimer/Liability </strong></h3>
    <p><span style="font-weight: 600;">Last updated: (add date) </span></p>
    <p><span style="font-weight: 500;">Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using Home Guardian ​mobile application operated by ​Home Guardian​ ("us", "we", or "our"). </span></p>
    <p><span style="font-weight: 500;">Your access to and use of the app is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the app. </span></p>
    <p><span style="font-weight: 500;">By accessing or using this app, you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access our services. </span></p>
    <h3><strong>Purchases</strong></h3>
    <p><span style="font-weight: 500;">If you wish to purchase any product or service made available through the app, you may be asked to supply certain information relevant to your purchase including, without limitation, your medical information and means of payment. </span></p>
    <h3><strong>Subscriptions</strong></h3>
    <p><span style="font-weight: 500;">Some parts of the service are billed on a subscription basis. You will be billed in advance if you opt for a recurring payment. </span></p>
    <h3><strong>Content</strong></h3>
    <p><span style="font-weight: 500;">Our service allows you to store, share and otherwise make available certain information, text, graphics, or other material. You are responsible for providing accurate information. </span></p>
    <h3><strong>Links to Third-Party Web Sites</strong></h3>
    <p><span style="font-weight: 500;">Our service may contain links to third-party websites or services that are not under our ownership or control. </span></p>
    <p><span style="font-weight: 500;">We have no control over, and assumes no responsibility for the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that Home Guardian shall not be responsible or liable, directly or indirectly, for any damage or loss alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services. </span></p>
    <h3><strong>Changes</strong></h3>
    <p><span style="font-weight: 500;">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least a 3​0 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. </span></p>
    <h3><strong>Contact Us</strong></h3>
    <p><span style="font-weight: 500;">If you have any questions about these Terms, please contact us by email: TBD. </span></p>
  
  </ion-content>
  