<ion-header>
  <ion-toolbar>
    <ion-title>
      Home Guardian
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3><strong>Who are you? </strong></h3>
  <ion-button expand="block" fill="outline" size="large" href="/patient-login">Patient</ion-button>
  <ion-button expand="block" fill="outline" size="large" href="/therapist-login">Therapist</ion-button>
  <ion-button expand="block" fill="outline" size="large" href="/camera-control">Camera Control</ion-button>

</ion-content>
