<!-- Back button -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="user-type"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Disclaimer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <h3><strong>DISCLAIMER! </strong></h3>

    <img src="../../assets/img/Disclaimer-Symbol-Free-Download-PNG.png" alt="Disclaimer Symbol" height="400" width="400">

    <h3><strong>REMEMBER TO GET HELP IF NEEDED! </strong></h3>

    <ion-button shape="round" fill="outline" size="large" href="/control-panel">I Understand, Continue</ion-button>

</ion-content>
